/*EVERYTHING*/

*.body{
margin: 0;
}

ul, menu, dir{
    list-style-type: none;
}


/*BODY*/

body{
    background-color: rgb(252, 245, 4);
    overflow: hidden;
}


/*PARENT*/

#parent{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*HEADER*/

#header{
    background-color: black;
    height: 99px;
    overflow: hidden;
}

.row.bandname{
    color: white;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-left: 0;
    max-width: 100%;
}

.bandname span{
    font-size: 300%;
}

div.lettert span{
    font-size: 915%;
    position: relative;
    top: -18px;
    line-height: 1;
}

div.lettert{
    color: rgba(252, 245, 4, 1);
}


/*MENU*/

#menu{
    background-color: black;
    height: 100px;
}


/*MENU BUTTONS*/

div.menutextsection{
    color: white;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    max-width: 100%;
    font-size: 127%;
    position: relative;
    top: 60px;
}

div.menutextsection a{
    color: rgba(255, 255, 255, 0.5);
}

div.menutextsection a:hover, a:focus{
    color: rgba(255, 255, 255, 1);
}


/*MENU LOGOS*/

div.menulogosection{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    max-width: 100%;
    position: relative;
    top: -5px;
}

div.menulogosection img{
    width: 30px;
    height: 30px;
}


/*CONTENU*/

h1, h2, h3, h4, h5, h6{
    color: white;
}

#contenu{
    color: white;
    background-color: black;
    overflow: auto;
    height: 0;
    transition: height 500ms ease-in;
}

#contenu.actif {
    height: calc(100vh - 199px);
}


/*NEWS*/

.newssection{
    margin-top: 50px;
}

.newssection span{
    color: rgb(252, 245, 4);
}

.newssection h1{
    padding-bottom: 30px;
}

/*SHOWS*/

.showssection{
    margin-top: 50px;
}

.showssection span{
    color: rgb(252, 245, 4);
}

.showssection h1{
    padding-bottom: 30px;
}

.showssection li{
    padding-bottom: 30px;
}

.showssection p{
    margin-bottom: 0;
}

p.upcomingshows{
    margin-bottom: 30px;
}

li.clearing-featured-img{
    padding-bottom: 20px;
}
li.premiershow, li.deuxiemeshow, li.troisiemeshow, li.quatriemeshow{
    text-align: center;
}

ul.cafeatomic, ul.funkymunky, ul.esco, ul.casa{
    display: inline-block;
}

.clearing-blackout{
    background-color: #000000;
}
.clearing-assembled .clearing-container .visible-img{
    background-color: black;
}

.clearing-assembled .clearing-container .carousel{
    background-color: black;
}

.clearing-caption{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 0;
    font-size: 75%;
}


/*AUDIO*/

.audiosection{
    margin-top: 50px;
}

.audiosection span{
    color: rgb(252, 245, 4);
}

.audiosection h1{
    padding-bottom: 30px;
}

div.audiosection ul>li{
    margin-bottom: 30px;
}

div.player{
    margin-bottom: 30px;
}


/*PLAYERS*/

.audiojs .time em{
    color: rgb(252, 245, 4);
}

.audiojs .time{
    color: rgb(252, 245, 4);
}

.audiojs .play-pause{
    border-right: 0;
}


/*VIDEO*/

.videosection{
    margin-top: 50px;
}

.videosection span{
    color: rgb(252, 245, 4);
}

.videosection h1{
    padding-bottom: 30px;
}


/*PHOTO*/

.photosection{
    margin-top: 50px;
}

.photosection span{
    color: rgb(252, 245, 4);
}

.photosection h1{
    padding-bottom: 30px;
}

li.bandpictures, li.localpictures, li.halloweenpictures{
    text-align: center;
}

ul.photosband, ul.photoslocal, ul.photoshalloween{
    display: inline-block;    color: white;
}


/*LYRICS*/

.lyricssection{
    margin-top: 50px;
}

p.chorus{
    color: rgb(252, 245, 4);
}

.lyricssection span{
    color: rgb(252, 245, 4);
}
.lyricssection h1{
    padding-bottom: 30px;
}

#lyricssection{
    color: white;
}

.content p{
    margin-bottom: 0;
}

.tabs.vertical{
    margin-right: 30px;
}

/*Lyrics Accordeon*/

.accordion .accordion-navigation.active > a, .accordion dd.active > a{
    background: transparent;
}

.accordion .accordion-navigation > a, .accordion dd > a{
    background: rgba(0,0,0,0.5)
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover{
    background: rgba(0,0,0,0.7)
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active{
    background: transparent;
}
.accordion .accordion-navigation > a, .accordion dd > a{
    color: white;
}
#lyricsaccordeon{
    color: white;
}

a.songtitle{
    text-transform: uppercase;
    font-size: 400%;
}

h6.quote{
    color: #ffff00;
}


/*COMMENTS*/

.commentssection{
    margin-top: 50px;
}

.commentssection span{
    color: rgb(252, 245, 4);
}

.commentssection h1{
    padding-bottom: 30px;
}


/*MAILING LIST*/

.mailinglistsection{
    margin-top: 50px;
}

.mailinglistsection span{
    color: rgb(252, 245, 4);
}

.mailinglistsection h1{
    padding-bottom: 30px;
}


/*CONTACTS*/

.contactssection{
    margin-top: 50px;
}

.contactssection span{
    color: rgb(252, 245, 4);
}

.contactssection h1{
    padding-bottom: 30px;
}

a.liens img{
    height: 100px;
    width: 100px;
}

div.mailinglist p{
    margin-bottom: 60px;
}